<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="sudu_pseudostatic_phprewrite_all" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url=".*" ignoreCase="true" negate="false" />     
					<conditions>
					<add input="{HTTP_USER_AGENT}" pattern="^(?!.*?ipad).*?(Mobile|Android|MQQBrowser|UCWEB)" />
					</conditions>               
                    <action type="Redirect" url="/m/{R:0}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
