
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp {
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
b, strong {
    font-weight: bold;
}
img {
    color: transparent;
    font-size: 0;
}
ol, ul {
    list-style: none outside none;
}
li {
    display: list-item;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
th, td, caption {
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}
q {
    quotes: none;
}
q:before, q:after {
    content: none;
}
sub, sup, small {
    font-size: 75%;
}
sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
svg {
    overflow: hidden;
}
body {
    font: 12px/1.5 'tahoma','arial',宋体;
}
pre, code {
    font-family: 'DejaVu Sans Mono',Menlo,Consolas,monospace;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC;
    border-image: none;
    border-right: 0 solid #CCCCCC;
    border-style: solid;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
}
body {
    min-width: 960px;
}
.container_12, .container_16 {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {
    display: inline;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}
.push_1, .pull_1, .push_2, .pull_2, .push_3, .pull_3, .push_4, .pull_4, .push_5, .pull_5, .push_6, .pull_6, .push_7, .pull_7, .push_8, .pull_8, .push_9, .pull_9, .push_10, .pull_10, .push_11, .pull_11, .push_12, .pull_12, .push_13, .pull_13, .push_14, .pull_14, .push_15, .pull_15 {
    position: relative;
}
.container_12 .grid_3, .container_16 .grid_4 {
    width: 220px;
}
.container_12 .grid_6, .container_16 .grid_8 {
    width: 460px;
}
.container_12 .grid_9, .container_16 .grid_12 {
    width: 700px;
}
.container_12 .grid_12, .container_16 .grid_16 {
    width: 940px;
}
.alpha {
    margin-right: 0;
}
.omega {
    margin-left: 0;
}
.container_12 .grid_1 {
    width: 60px;
}
.container_12 .grid_2 {
    width: 140px;
}
.container_12 .grid_4 {
    width: 300px;
}
.container_12 .grid_5 {
    width: 380px;
}
.container_12 .grid_7 {
    width: 540px;
}
.container_12 .grid_8 {
    width: 620px;
}
.container_12 .grid_10 {
    width: 780px;
}
.container_12 .grid_11 {
    width: 860px;
}
.container_16 .grid_1 {
    width: 40px;
}
.container_16 .grid_2 {
    width: 100px;
}
.container_16 .grid_3 {
    width: 160px;
}
.container_16 .grid_5 {
    width: 280px;
}
.container_16 .grid_6 {
    width: 340px;
}
.container_16 .grid_7 {
    width: 400px;
}
.container_16 .grid_9 {
    width: 520px;
}
.container_16 .grid_10 {
    width: 580px;
}
.container_16 .grid_11 {
    width: 640px;
}
.container_16 .grid_13 {
    width: 760px;
}
.container_16 .grid_14 {
    width: 820px;
}
.container_16 .grid_15 {
    width: 880px;
}
.container_12 .prefix_3, .container_16 .prefix_4 {
    padding-right: 240px;
}
.container_12 .prefix_6, .container_16 .prefix_8 {
    padding-right: 480px;
}
.container_12 .prefix_9, .container_16 .prefix_12 {
    padding-right: 720px;
}
.container_12 .prefix_1 {
    padding-right: 80px;
}
.container_12 .prefix_2 {
    padding-right: 160px;
}
.container_12 .prefix_4 {
    padding-right: 320px;
}
.container_12 .prefix_5 {
    padding-right: 400px;
}
.container_12 .prefix_7 {
    padding-right: 560px;
}
.container_12 .prefix_8 {
    padding-right: 640px;
}
.container_12 .prefix_10 {
    padding-right: 800px;
}
.container_12 .prefix_11 {
    padding-right: 880px;
}
.container_16 .prefix_1 {
    padding-right: 60px;
}
.container_16 .prefix_2 {
    padding-right: 120px;
}
.container_16 .prefix_3 {
    padding-right: 180px;
}
.container_16 .prefix_5 {
    padding-right: 300px;
}
.container_16 .prefix_6 {
    padding-right: 360px;
}
.container_16 .prefix_7 {
    padding-right: 420px;
}
.container_16 .prefix_9 {
    padding-right: 540px;
}
.container_16 .prefix_10 {
    padding-right: 600px;
}
.container_16 .prefix_11 {
    padding-right: 660px;
}
.container_16 .prefix_13 {
    padding-right: 780px;
}
.container_16 .prefix_14 {
    padding-right: 840px;
}
.container_16 .prefix_15 {
    padding-right: 900px;
}
.container_12 .suffix_3, .container_16 .suffix_4 {
    padding-left: 240px;
}
.container_12 .suffix_6, .container_16 .suffix_8 {
    padding-left: 480px;
}
.container_12 .suffix_9, .container_16 .suffix_12 {
    padding-left: 720px;
}
.container_12 .suffix_1 {
    padding-left: 80px;
}
.container_12 .suffix_2 {
    padding-left: 160px;
}
.container_12 .suffix_4 {
    padding-left: 320px;
}
.container_12 .suffix_5 {
    padding-left: 400px;
}
.container_12 .suffix_7 {
    padding-left: 560px;
}
.container_12 .suffix_8 {
    padding-left: 640px;
}
.container_12 .suffix_10 {
    padding-left: 800px;
}
.container_12 .suffix_11 {
    padding-left: 880px;
}
.container_16 .suffix_1 {
    padding-left: 60px;
}
.container_16 .suffix_2 {
    padding-left: 120px;
}
.container_16 .suffix_3 {
    padding-left: 180px;
}
.container_16 .suffix_5 {
    padding-left: 300px;
}
.container_16 .suffix_6 {
    padding-left: 360px;
}
.container_16 .suffix_7 {
    padding-left: 420px;
}
.container_16 .suffix_9 {
    padding-left: 540px;
}
.container_16 .suffix_10 {
    padding-left: 600px;
}
.container_16 .suffix_11 {
    padding-left: 660px;
}
.container_16 .suffix_13 {
    padding-left: 780px;
}
.container_16 .suffix_14 {
    padding-left: 840px;
}
.container_16 .suffix_15 {
    padding-left: 900px;
}
.container_12 .push_3, .container_16 .push_4 {
    right: 240px;
}
.container_12 .push_6, .container_16 .push_8 {
    right: 480px;
}
.container_12 .push_9, .container_16 .push_12 {
    right: 720px;
}
.container_12 .push_1 {
    right: 80px;
}
.container_12 .push_2 {
    right: 160px;
}
.container_12 .push_4 {
    right: 320px;
}
.container_12 .push_5 {
    right: 400px;
}
.container_12 .push_7 {
    right: 560px;
}
.container_12 .push_8 {
    right: 640px;
}
.container_12 .push_10 {
    right: 800px;
}
.container_12 .push_11 {
    right: 880px;
}
.container_16 .push_1 {
    right: 60px;
}
.container_16 .push_2 {
    right: 120px;
}
.container_16 .push_3 {
    right: 180px;
}
.container_16 .push_5 {
    right: 300px;
}
.container_16 .push_6 {
    right: 360px;
}
.container_16 .push_7 {
    right: 420px;
}
.container_16 .push_9 {
    right: 540px;
}
.container_16 .push_10 {
    right: 600px;
}
.container_16 .push_11 {
    right: 660px;
}
.container_16 .push_13 {
    right: 780px;
}
.container_16 .push_14 {
    right: 840px;
}
.container_16 .push_15 {
    right: 900px;
}
.container_12 .pull_3, .container_16 .pull_4 {
    right: -240px;
}
.container_12 .pull_6, .container_16 .pull_8 {
    right: -480px;
}
.container_12 .pull_9, .container_16 .pull_12 {
    right: -720px;
}
.container_12 .pull_1 {
    right: -80px;
}
.container_12 .pull_2 {
    right: -160px;
}
.container_12 .pull_4 {
    right: -320px;
}
.container_12 .pull_5 {
    right: -400px;
}
.container_12 .pull_7 {
    right: -560px;
}
.container_12 .pull_8 {
    right: -640px;
}
.container_12 .pull_10 {
    right: -800px;
}
.container_12 .pull_11 {
    right: -880px;
}
.container_16 .pull_1 {
    right: -60px;
}
.container_16 .pull_2 {
    right: -120px;
}
.container_16 .pull_3 {
    right: -180px;
}
.container_16 .pull_5 {
    right: -300px;
}
.container_16 .pull_6 {
    right: -360px;
}
.container_16 .pull_7 {
    right: -420px;
}
.container_16 .pull_9 {
    right: -540px;
}
.container_16 .pull_10 {
    right: -600px;
}
.container_16 .pull_11 {
    right: -660px;
}
.container_16 .pull_13 {
    right: -780px;
}
.container_16 .pull_14 {
    right: -840px;
}
.container_16 .pull_15 {
    right: -900px;
}
.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.clearfix:before, .clearfix:after, .container_12:before, .container_12:after, .container_16:before, .container_16:after {
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.clearfix:after, .container_12:after, .container_16:after {
    clear: both;
}
.clearfix, .container_12, .container_16 {
}
.pager {
    clear: both;
}
.pager td {
    vertical-align: middle;
}
.pager .pagernum a {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #DEDEDE;
    line-height: 20px;
    margin: 0 1px;
    overflow: hidden;
    padding: 3px 8px;
}
.pager .pagernum a:hover {
    border: 1px solid #DEDEDE;
    color: #333333;
    margin: 0 1px;
    padding: 3px 8px;
}
.pager .prev, .pager .next, .pager .onprev, .pager .onnext, .pager .unprev, .pager .unnext {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #DEDEDE;
    display: block;
    height: 20px;
    margin: 5px;
    overflow: hidden;
    text-align: center;
}
.pager .prev, .pager .onprev, .pager .unprev {
    height: 22px;
    line-height: 22px;
    width: 50px;
}
.pager .next, .pager .onnext, .pager .unnext {
    height: 22px;
    line-height: 22px;
    width: 50px;
}
.pager .onprev, .pager .onnext {
}
.pager .unprev, .pager .unnext {
    display: none;
}
.pager .pagecurrent {
    background: none repeat scroll 0 0 #2C2C2C;
    border: 1px solid #2C2C2C;
    color: #FFFFFF;
    margin: 0 1px;
    overflow: hidden;
    padding: 3px 8px;
}
.calendar {
    border: 1px solid #CCCCCC;
    z-index: 9999;
}
.datepicker {
    background: none repeat scroll 0 0 transparent !important;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    overflow: hidden;
    width: 226px;
}
.datepicker table {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #BEBEBE;
    border-color: -moz-use-text-color #000000 #000000;
    border-image: none;
    border-right: 1px solid #000000;
    border-spacing: 0;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
.datepicker caption {
    background:url("../../images/newimages/calbg.gif") repeat-x scroll 0 0 #4E6A81;
    border: 1px solid #000000;
    color: #333333;
    font-weight: bold;
    height: 25px;
    line-height: 26px;
    text-align: center;
    width: 100%;
}
.datepicker caption a {
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}
.datepicker caption span.month {
    padding-left: 10px;
    width: 120px;
}
.datepicker caption span.year {
    padding-right: 10px;
    width: 80px;
}
.datepicker th, .datepicker td {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid #BEBEBE;
    cursor: default;
    font-size: 12px;
    height: 25px;
    text-align: center;
    width: 30px;
}
.datepicker th {
    background: none repeat scroll 0 0 #FDFDDB;
    border: medium none;
    color: #888888;
    font-family: Verdana;
}
.datepicker td.active {
    cursor: pointer;
}
.datepicker td.inactive {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #BEBEBE;
}
.datepicker td.today {
    background: none repeat scroll 0 0 #FFFFDD;
    border-top: 1px solid #FFD700;
}
.datepicker td.hilite {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
}
.dialog {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #336699;
    box-shadow: 2px 2px 3px #666666;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
    left: 100px;
    position: absolute;
    text-align: left;
    top: 100px;
    z-index: 4000;
}
.dialog .dialog-box {
    display: none;
}
.dialog .dialog-title {
    border-bottom: 1px dotted #CCCCCC;
    overflow: hidden;
    padding: 0 5px;
}
.dialog .title {
    font-size: 14px;
    font-weight: bold;
}
.dialog .dialog-close-btn {
    color: #336699;
    cursor: pointer;
    float: right;
}
.dialog .dialog-content {
    clear: both;
    padding: 9px;
}
.dialog .dialog-iframe {
    border: medium none;
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
}
.highlight {
    background: none repeat scroll 0 0 #FFFF00;
}
.added {
    background: none repeat scroll 0 0 #006600;
    color: #FFFFFF;
}
.removed {
    background: none repeat scroll 0 0 #990000;
    color: #FFFFFF;
}
.first {
    margin-left: 0;
    padding-left: 0;
}
.last {
    margin-right: 0;
    padding-right: 0;
}
.top {
    margin-top: 0;
    padding-top: 0;
}
.bottom {
    margin-bottom: 0;
    padding-bottom: 0;
}
.textright, td.textright, a.textright, span.textright, li.textright, div.textright, p.textright {
    text-align: right;
}
.textleft, td.textleft, a.textleft, span.textleft, li.textleft, div.textleft, p.textleft, colgroup.textleft {
    text-align: left;
}
.textcenter, td.textcenter, a.textcenter, span.textcenter, li.textcenter, div.textcenter, p.textcenter, colgroup.textcenter {
    clear: both;
    text-align: center;
}
.textnowrap, td.textnowrap, a.textnowrap, span.textnowrap, li.textnowrap, div.textnowrap, p.textnowrap {
    white-space: nowrap;
}
.textwrap, td.textwrap, a.textwrap, span.textwrap, li.textwrap, div.textwrap, p.textwrap {
    white-space: normal;
}
.inline-block {
    display: -moz-inline-stack;
}
.FormWrap {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #D5D5D5;
    line-height: 150%;
    margin: 10px 0 0;
    padding: 7px;
}
.FormWrap label {
    width: auto;
}
.FormWrap th label {
    cursor: pointer;
}
.FormWrap em {
    color: #FF6600;
    font-style: normal;
    margin: 0 2px;
}
input {
    font-family: Arial,Helvetica,sans-serif;
}
.inputstyle, .x-input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #707070;
    font-size: 12px;
    padding: 3px 5px;
}
.buttonstyle {
    font-size: 14px;
    padding: 1px 5px;
}
.vm {
    vertical-align: middle;
}
.vt {
    vertical-align: top;
}
.vb {
    vertical-align: bottom;
}
.pr {
    position: relative;
}
.pa {
    position: absolute;
}
.db {
    display: block;
}
.l {
    float: left;
}
.r {
    float: right;
}
.zoom {
}
.hidden {
    visibility: hidden;
}
.dn {
    display: none;
}
.bn {
    background: none repeat scroll 0 0 transparent;
}
.font9px {
    font-size: 9px;
}
.font10px {
    font-size: 10px;
}
.font11px {
    font-size: 11px;
}
.font12px {
    font-size: 12px;
}
.font14px {
    font-size: 14px;
}
.font16px {
    font-size: 16px;
}
.font18px {
    font-size: 18px;
}
.font20px {
    font-size: 20px;
}
.font22px {
    font-size: 22px;
}
.font24px {
    font-size: 24px;
}
.font26px {
    font-size: 26px;
}
.t2 {
    text-indent: 2em;
}
.t5 {
    text-indent: 5em;
}
.t10 {
    text-indent: 10em;
}
.t15 {
    text-indent: 15em;
}
.lh150 {
    line-height: 150%;
}
.lh180 {
    line-height: 180%;
}
.lh200 {
    line-height: 200%;
}
.lh20 {
    line-height: 20px;
}
.lh25 {
    line-height: 25px;
}
.lh30 {
    line-height: 30px;
}
.lh35 {
    line-height: 35px;
}
.mb15 {
    margin-bottom: 15px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb20 {
    margin-bottom: 20px;
}
.m10 {
    margin: 10px;
}
.unl {
    cursor: pointer;
    text-decoration: underline;
}
.no-unl, .no-unl:hover {
    cursor: pointer;
    text-decoration: none;
}
.fontbold {
    font-weight: bold;
}
.fontnormal {
    font-weight: normal;
}
.font-red {
    color: #FF0000;
}
.font-green {
    color: #618605;
}
.font-orange {
    color: #FF6600;
}
.font-black {
    color: #000000;
}
.font-gray {
    color: #666666;
}
.font-blue {
    color: #336699;
}
.bg-red {
    background: none repeat scroll 0 0 #FBEEEF;
}
.bg-gray {
    background: none repeat scroll 0 0 #EFEFEF;
}
.bg-graydark {
    background: none repeat scroll 0 0 #EFEFEF;
}
.bg-green {
    background: none repeat scroll 0 0 #EEFBEE;
}
.bg-blue {
    background: none repeat scroll 0 0 #F7F7F9;
}
.bg-orange {
    background: none repeat scroll 0 0 #FBF7EE;
}
.bg-white {
    background: none repeat scroll 0 0 #FFFFFF;
}
fieldset {
    border: 1px solid #CCCCCC;
    margin: 0 0 1.5em;
    padding: 1.4em;
}
legend {
    font-size: 1.2em;
    font-weight: bold;
}
.division {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E1E1E1;
    margin-bottom: 7px;
    padding: 7px;
}
.borderdown {
    border-color: #BEC6CE #FFFFFF #FFFFFF #BEC6CE;
    border-style: solid;
    border-width: 1px;
}
.borderup {
    border-color: #EFEFEF #BEC6CE #BEC6CE #EFEFEF;
    border-style: solid;
    border-width: 1px;
}
.borderbottom {
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 5px;
}
.division .forform th, .division .forform td {
    padding: 5px;
    vertical-align: top;
}
.division .forform th {
    color: #777777;
    font-size: 14px;
    font-weight: normal;
    padding-left: 5px;
    text-align: right;
    white-space: nowrap;
    width: 120px;
}
.shop-iformation {
    padding: 10px;
}
.shop-iformation th td {
    border: medium none;
    padding: 10px 0;
    text-align: right;
}
.Numinput {
    height: 20px;
    width: 48px;
}
.Numinput input {
    background:url("../../images/newimages/Numinput-bj.gif") no-repeat scroll 0 0 transparent;
    border: 1px solid #DEDEDE;
    float: left;
    font-size: 12px;
    height: 19px;
    line-height: 19px;
    padding: 0;
    text-align: center;
}
.Numinput .numadjust {
    background-image: url("../../images/newimages/numadjust.gif");
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 20px;
    overflow: hidden;
    width: 20px;
}
.Numinput .numadjust.increase {
    background-position: 0 4px;
}
.Numinput .numadjust.increase.active {
    background-position: 0 -15px;
}
.Numinput .numadjust.decrease {
    background-position: 5px -36px;
}
.Numinput .numadjust.decrease.active {
    background-position: 5px -57px;
}
.notice, .note {
    margin-bottom: 1em;
    padding: 0.8em;
}
.error, .error-tips, .error-notice {
    background:url("../../images/newimages/feedback-icon.jpg") no-repeat scroll 0 -97px transparent;
    font-size: 12px;
    line-height: 14px;
    margin: 0 0 0 10px;
    padding: 30px 0 3px 45px;
}
.success {
    background:url("../../images/newimages/icon-notice.gif") no-repeat scroll 0 2px transparent;
    margin: 0 0 0 10px;
    padding: 2px 0 3px 21px;
}
.notice {
    background: none repeat scroll 0 0 #FFF6BF;
    border-color: #FFD324;
    color: #514721;
}
.note {
    background: none repeat scroll 0 0 #F5F4EC;
    border-color: #E5DDC7;
    color: #514721;
}
.success-message, .error-message {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 3px;
    box-shadow: 0 0 5px #999999;
    height: 90px;
    overflow: hidden;
    padding: 10px 25px 10px 10px;
    position: absolute;
    width: 270px;
    z-index: 100000;
}
.success-message p, .error-message p {
    background:url("../../images/newimages/feedback-icon.jpg") no-repeat scroll 0 0 transparent;
    color: #FF0000;
    float: left;
    height: 52px;
    margin: 20px 6px 0 36px;
    width: 52px;
}
.error-message p {
    background-position: 0 -97px;
}
.success-message p {
    background-position: 0 2px;
}
.error-message h4, .notice h4, .note h4, .success-message h4 {
    font-size: 14px;
    font-weight: bold;
    margin: 25px 0 0;
}
.success-message {
    border-color: #D5D5D5;
}
.error-message {
    border-color: #FFCCCC;
}
.error-tips {
    color: #FF0000;
    padding: 20px 10px;
    position: relative;
}
.error-tips .close, .error-tips .arrow {
    background:url("../../images/newimages/error-tips-icon.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 6px;
    position: absolute;
}
.error-tips .close {
    background-position: 0 5px;
    cursor: pointer;
    left: 90%;
    top: 5px;
    width: 7px;
}
.error-tips .arrow {
    background-position: 0 -44px;
    bottom: -6px;
    left: 80%;
    width: 9px;
}
.error-notice {
    height: 20px;
    line-height: 20px;
}
.error-notice i {
    background:url("../../images/newimages/notice-icon.gif") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    font-style: normal;
    height: 15px;
    margin: 2px 5px;
    vertical-align: middle;
    width: 16px;
}
.error a {
    color: #8A1F11;
}
.notice a {
    color: #514721;
}
.note a {
    color: #000000;
    text-decoration: none;
}
.success a {
    color: #264409;
}
.error .option, .notice .option, .note .option, .success .option {
    cursor: pointer;
    float: right;
}
.error .pic, .notice .pic, .note .pic, .success .pic {
    height: 52px;
    width: 52px;
}
.error .pic {
    background:url("../../images/newimages/infoerror.gif") repeat scroll 0 0 transparent;
}
.notice .pic {
    background:url("../../images/newimages/infonotice.gif") repeat scroll 0 0 transparent;
}
.note .pic {
    background:url("../../images/newimages/infonote.gif") repeat scroll 0 0 transparent;
}
.success .pic {
    background:url("../../images/newimages/success-icon.png") repeat scroll 0 0 transparent;
}
.popup {
    height: 100px;
    width: 280px;
}
.infotips {
    color: #999999;
    padding-left: 5px;
}
.feed-back {
    color: #333333;
    margin: 50px auto;
    width: 700px;
}
.feed-back .success, .feed-back .error {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    margin: 0 auto;
}
.feed-back .success .pic, .feed-back .error .pic {
    background:url("../../images/newimages/feedbackinfo.gif") no-repeat scroll center center transparent;
    border-right: 1px solid #EEEEEE;
    height: 128px;
    padding: 0 10px;
    width: 128px;
}
.feed-back .success .pic {
    background-position: 0 18px;
}
.feed-back .error .pic {
    background-position: 0 -97px;
}
.feed-back h1 {
    font-size: 14px;
    margin: 0 0 0 5px;
}
.feed-back .success h1 {
    color: #006600;
}
.feed-back .error h1 {
    color: #990000;
}
.valierror {
    background:url("../../images/newimages/stop.gif") no-repeat scroll 3px center #FCEAE8;
    border: 1px solid #E6594E;
    color: #E6594E;
    display: inline;
    height: 20px;
    margin: 0 5px;
    padding: 3px 5px 3px 21px;
    text-align: left;
    white-space: nowrap;
}
.valisuccess {
    background:url("../../images/newimages/success.gif") no-repeat scroll 3px center #EBF7E3;
    border: 1px solid #99D073;
    color: #539A33;
    display: inline;
    margin-left: 10px;
    padding: 2px 5px 2px 21px;
    text-align: left;
    white-space: nowrap;
}
.tip-text {
    background: none repeat scroll 0 0 #E9E9E9;
    border: 1px solid #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
}
.tip {
    border: 1px solid #CCCCCC;
}
.x-vali-error {
    color: #E6594E;
}
ul.list {
    margin: 10px 0;
}
ul.list li {
    background:url("../../images/newimages/ra.gif") no-repeat scroll 0 8px transparent;
    border-bottom: 1px solid #EFEFEF;
    color: #666666;
    display: block;
    line-height: 23px;
    padding-left: 15px;
}
ul.list ul {
    margin-left: 10px;
}
ul.list li.nolist {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 0 none;
}
ul.list.WithRight li {
    position: relative;
}
ul.list.WithRight li span {
    color: #666666;
    position: absolute;
    right: 0;
}
ul.list.float li {
    float: left;
    margin-left: 15px;
    width: 45%;
}
ol li {
    border-bottom: 1px solid #EFEFEF;
    color: #000000;
    line-height: 20px;
    list-style: decimal outside none;
    margin: 0 0 0 20px;
}
ol li ol {
}
.liststyle {
    border: 1px solid #DDDDDD;
    margin: 0;
    width: 100%;
}
.liststyle a {
    padding-right: 5px;
    text-decoration: underline;
}
.liststyle a.lnk {
    text-decoration: none;
}
.liststyle thead th {
    background: none repeat scroll 0 0 #EFEFEF;
    font-size: 12px;
    padding: 4px 3px;
    text-align: center;
    white-space: nowrap;
}
.liststyle td, .liststyle th {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 4px;
    text-align: center;
}
.liststyle.data td, .liststyle.data th {
}
.liststyle.data tbody th {
    color: #000000;
    font-size: 12px;
    text-align: right;
}
.liststyle.data td {
    text-align: left;
}
.liststyle.data .colspan {
    color: #000000;
    font-weight: 700;
    text-align: center;
}
.border {
    border-right: 1px solid #CCCCCC;
    margin-right: 5px;
    padding-right: 4px;
}
.colborder {
    border-right: 1px solid #CCCCCC;
    margin-right: 25px;
    padding-right: 24px;
}
div.floatLeft, .flt {
    display: inline;
    float: left;
}
div.floatRight, .frt {
    display: inline;
    float: right;
}
div.floatNone {
    float: none;
}
.box {
    padding: 7px;
}
.boxBlue {
    background: none repeat scroll 0 0 #ECF2F5;
    border: 1px solid #C7DBE5;
    padding: 7px;
}
.boxBrown {
    background: none repeat scroll 0 0 #F5F4EC;
    border: 1px solid #E5DDC7;
    padding: 7px;
}
.boxGray {
    background: none repeat scroll 0 0 #EFEFEF;
    border: 1px solid #E1E1E1;
    padding: 7px;
}
.cut {
    overflow: hidden;
}
hr {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #EEEEEE;
    color: #DDDDDD;
    float: none;
    height: 0;
    margin: 5px 0;
    padding: 0;
    width: 100%;
}
hr.space {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #FFFFFF;
}
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.clearfix {
}
.clearfix {
    display: block;
}
.clear {
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
}
.clearboth {
    clear: both;
}
.ma {
    margin-left: auto;
    margin-right: auto;
}
.fl {
    display: inline;
    float: left;
}
.fr {
    display: inline;
    float: right;
}
#siderIMchat {
    position: absolute;
    z-index: 65535;
}
#siderIMchat_hiddenbar {
    background:url("../../images/newimages/im/siderim_hiddenbar.gif") repeat scroll 0 0 transparent;
    height: 136px;
    width: 26px;
}
#siderIMchat-main {
    display: none;
    margin: 0 10px;
    width: 170px;
}
#siderIMchat-main .top {
    background:url("../../images/newimages/im/siderim_title.gif") repeat scroll 0 0 transparent;
    height: 34px;
}
#siderIMchat-main .infobox {
    background:url("../../images/newimages/im/siderim_infobox.gif") no-repeat scroll 0 0 #BDC5CB;
    color: #000000;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    padding: 5px;
    text-align: center;
}
#siderIMchat-main .bg {
    background:url("../../images/newimages/im/siderim_bg.gif") repeat scroll 0 0 transparent;
    font-size: 12px;
    padding: 5px;
}
#siderIMchat-main ul li {
    float: left;
    margin-bottom: 6px;
    margin-right: 5px;
}
#siderIMchat-main .bottom {
    background:url("../../images/newimages/im/siderim_bottom.gif") repeat scroll 0 0 transparent;
    height: 9px;
    overflow: hidden;
}
.RegisterWrap {
    margin: 10px 0;
}
.RegisterWrap .leftpart {
    float: left;
    margin-right: 50px;
    width: 58%;
}
.RegisterWrap .righttop {
    float: right;
    height: 120px;
    width: 35%;
}
.RegisterWrap .rightbottom {
    float: right;
    height: 100px;
    width: 35%;
}
.RegisterWrap h4 {
    font-size: 14px;
    margin: 3px 0;
    padding: 0;
}
.RegisterWrap .intro {
    color: #999999;
}
.RegisterWrap .form {
    border: 1px solid #CCCCCC;
    margin: 10px 0;
    padding: 15px;
}
.RegisterWrap .form table th {
    font-size: 14px;
    font-weight: normal;
    padding: 7px 0;
    text-align: right;
    vertical-align: middle;
    width: 100px;
}
.RegisterWrap .form table td {
    vertical-align: middle;
}
.RegisterWrap .form table th i {
    color: #FF6600;
    padding: 0 5px;
}
.mini-cart-dialog .dialog-title {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #696D6F;
    line-height: 22px;
    padding: 0 4px;
}
.mini-cart-dialog .dialog-box {
    display: none;
    left: 1px;
    top: 1px;
}
.mini-cart-dialog .title {
    font-size: 12px;
    padding-left: 8px;
}
.mini-cart-dialog .title img {
    float: left;
    margin-right: 5px;
}
.mini-cart-dialog .dialog-close-btn {
    color: #9BCAEA;
    font-family: Arial Black;
    text-align: center;
}
.mini-cart-dialog .dialog-close-btn:hover {
    color: #63ADDE;
}
.mini-passport-dialog .dialog-title {
    display: none;
}
.mini-passport-dialog .dialog-content, .mini-passport-dialog table {
    padding: 0;
}
.mini-passport-dialog .loading {
    background:url("../../images/newimages/loading.gif") no-repeat scroll 50% 50% transparent;
}
.mini-passport-dialog .form {
    border: medium none;
    margin: 0;
    padding: 0;
}
.mini-passport-dialog .row-span {
    background: none repeat scroll 0 0 #FFF5EE;
    border-left: 1px solid #FFECE0;
    padding: 4px 0 0;
    text-align: center;
    vertical-align: top;
    width: 190px;
}
.mini-dialog-close {
    background: none repeat scroll 0 0 #FF9955;
    border: 1px solid #FA6400;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Arial Black;
    font-size: 14px;
    height: 21px;
    position: absolute;
    right: 4px;
    text-align: center;
    top: 4px;
    width: 25px;
}
.mini-dialog-close:hover {
    background: none repeat scroll 0 0 #FF6655;
    border-color: #FF6655;
}
.mini-passport-dialog .row-span a {
    color: #FA6400;
    font-weight: bold;
}
.mini-passport-dialog .RegisterWrap {
    margin: 0;
}
.mini-passport-dialog .RegisterWrap h4 {
    margin: 0;
    padding: 10px 0 2px 10px;
}
.mini-passport-dialog .RegisterWrap i {
    color: #999999;
    padding-left: 10px;
}
.fast-login {
    padding: 15px 0 5px;
}
ul.fast-login li {
    background: none repeat scroll 0 0 transparent;
    clear: both;
    padding: 0 0 0 10px;
    text-align: left;
}
.fast-login span {
    background:url("../../images/newimages/ra.gif") no-repeat scroll 0 8px transparent;
    padding: 0 0 0 10px;
}
.pageWrap h2 {
    color: #666666;
    margin: 15px 0;
}
.pageWrap h4 {
    border-bottom: 1px solid #DDDDDD;
    margin: 10px 0;
    padding-left: 14px;
}
.pageWrap ol li {
    color: #666666;
}
.section .row {
    clear: both;
    overflow: hidden;
}
.lineheight-free, .lineheight-free * {
    line-height: normal;
}
.themefoot {
    margin: 0 auto;
}
.customMessages * {
    line-height: 140%;
}
.uarea-output * {
    line-height: 180%;
}
.uarea-output table {
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}
.uarea-output table td {
    border: 1px solid;
}
#siderIMchat-main-widgets .bg {
    text-align: center;
}
#siderIMchat-main-widgets li {
    float: left;
    margin: 0 3px;
}
.footArticle .span-5, .span-6 {
    text-align: center;
}
.uarea-output address, .uarea-output blockquote, .uarea-output dd, .uarea-output div, .uarea-output dl, .uarea-output dt, .uarea-output fieldset, .uarea-output form, .uarea-output frame, .uarea-output frameset, .uarea-output h1, .uarea-output h2, .uarea-output h3, .uarea-output h4, .uarea-output h5, .uarea-output h6, .uarea-output noframes, .uarea-output ol, .uarea-output p, .uarea-output ul, .uarea-output center, .uarea-output dir, .uarea-output hr, .uarea-output menu, .uarea-output pre {
    display: block;
}
.uarea-output li {
    display: list-item;
}
.uarea-output table {
    display: table;
}
.uarea-output tr {
    display: table-row;
}
.uarea-output thead {
    display: table-header-group;
}
.uarea-output tbody {
    display: table-row-group;
}
.uarea-output tfoot {
    display: table-footer-group;
}
.uarea-output col {
    display: table-column;
}
.uarea-output colgroup {
    display: table-column-group;
}
.uarea-output td, .uarea-output th {
    display: table-cell;
}
.uarea-output caption {
    display: table-caption;
}
.uarea-output th {
    font-weight: bold;
    text-align: center;
}
.uarea-output caption {
    text-align: center;
}
.uarea-output h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
.uarea-output h2 {
    font-size: 1.5em;
    margin: 0.75em 0;
}
.uarea-output h3 {
    font-size: 1.17em;
    margin: 0.83em 0;
}
.uarea-output h4, .uarea-output p, .uarea-output blockquote, .uarea-output ul, .uarea-output fieldset, .uarea-output form, .uarea-output ol, .uarea-output dl, .uarea-output dir, .uarea-output menu {
    margin: 1.12em 0;
}
.uarea-output h5 {
    font-size: 0.83em;
    margin: 1.5em 0;
}
.uarea-output h6 {
    font-size: 0.75em;
    margin: 1.67em 0;
}
.uarea-output h1, .uarea-output h2, .uarea-output h3, .uarea-output h4, .uarea-output h5, .uarea-output h6, .uarea-output b, .uarea-output strong {
    font-weight: bold;
}
.uarea-output blockquote {
    margin-left: 40px;
    margin-right: 40px;
}
.uarea-output i, .uarea-output cite, .uarea-output em, .uarea-output var, .uarea-output address {
    font-style: italic;
}
.uarea-output pre, .uarea-output tt, .uarea-output code, .uarea-output kbd, .uarea-output samp {
    font-family: monospace;
}
.uarea-output pre {
    white-space: pre;
}
.uarea-output button, .uarea-output textarea, .uarea-output input, .uarea-output object, .uarea-output select {
    display: inline-block;
}
.uarea-output big {
    font-size: 1.17em;
}
.uarea-output small, .uarea-output sub, .uarea-output sup {
    font-size: 0.83em;
}
.uarea-output sub {
    vertical-align: sub;
}
.uarea-output sup {
    vertical-align: super;
}
.uarea-output table {
    border-spacing: 2px;
}
.uarea-output thead, .uarea-output tbody, .uarea-output tfoot {
    vertical-align: middle;
}
.uarea-output td, .uarea-output th {
    vertical-align: inherit;
}
.uarea-output s, .uarea-output strike, .uarea-output del {
    text-decoration: line-through;
}
.uarea-output hr {
    border: 1px inset;
}
.uarea-output ol, .uarea-output ul, .uarea-output dir, .uarea-output menu, .uarea-output dd {
    margin-left: 40px;
}
.uarea-output ol {
    list-style-type: decimal;
}
.uarea-output ol ul, .uarea-output ul ol, .uarea-output ul ul, .uarea-output ol ol {
    margin-bottom: 0;
    margin-top: 0;
}
.uarea-output u, .uarea-output ins {
    text-decoration: underline;
}
.uarea-output br:before {
    content: "\A ";
}
.uarea-output *:before, .uarea-output *:after {
    white-space: pre-line;
}
.uarea-output center {
    text-align: center;
}
.uarea-output abbr, .uarea-output acronym {
    font-variant: small-caps;
    letter-spacing: 0.1em;
}
.uarea-output *:link, .uarea-output *:visited {
    text-decoration: underline;
}
.uarea-output *:focus {
}
.install-outer {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.install-outer[class] {
    display: table;
    position: static;
}
.install-middle {
    position: absolute;
    top: 50%;
}
.install-middle[class] {
    display: table-cell;
    position: static;
    vertical-align: middle;
}
.install-inner {
    border: 3px solid #D7DCE2;
    height: 293px;
    margin: 0 auto;
    padding: 25px;
    position: relative;
    top: -50%;
    width: 536px;
}
.install-inner .leftpic {
    background:url("../../images/newimages/install_pic.gif") no-repeat scroll 0 0 transparent;
    float: left;
    height: 180px;
    margin-top: 50px;
    width: 179px;
}
.install-inner .rightcont {
    float: right;
    font-size: 14px;
    line-height: 25px;
    margin-top: 100px;
    width: 340px;
}
.install-inner .rightcont a {
    color: #0066CC;
    margin: 0 3px;
}
.install-inner .rightcont a:hover {
    color: #FF6600;
}




/* clearfix */
.clearfix:after{ visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}
*html .clearfix{ zoom:1;}
.clearfix{ width:100%;}

/* 组合套装 2013-04-15 */
.suits{ padding-bottom:20px;  overflow:hidden; width:700px; }
.suits-ul{ width:410px; height:155px; overflow:hidden; float:left; display:inline; margin:15px 0 0 15px;}
.suits-ul li{ float:left; width:190px;  margin-right:10px;}
.suits-ul li s{ display:block; width:23px; height:23px; margin-left:165px; margin-top:-100px; float:right;}
.suits-ul li img{ width:150px; height:130px; border:1px solid #dddddd;}
.suits-ul li s.jh{ background:url(../../images/newimages/jdsp.jpg) no-repeat;}
.suits-ul li s.dh{ background:url(../../images/newimages/jdsp.jpg) no-repeat 0 -28px;}
.suits-ul .p-price{ height:30px; width:150px; text-align:center;}
.suits-ul .p-price a:hover{ color:#339800;}
.infos{ float:left; display:inline; width:270px; height:130px; margin-top:35px; overflow:hidden; }
.infos .p-saving{ width:67px; text-align:center; line-height:100px; font-size:14px; color:#fff; font-weight:bold; height:110px; float:left; background:url(../../images/newimages/lisheng.jpg) no-repeat; margin-right:25px;}
.infos .p-price{ height:25px; line-height:25px; text-decoration:line-through;}
.infos .suits-price{ height:25px; line-height:25px; margin-bottom:8px;}
.infos .suits-price span{ color:#ee3d44;}
.btn-001{ width:100px; height:28px; text-align:center; line-height:28px; color:#fff; display:inline-block; font-size:14px; font-weight:bold; background:url(../../images/newimages/btn-001.jpg) no-repeat;}
.btn-001:hover{ color:#fff;}

.sales-left{ width:700px;  }
.sales-right{ float:right; margin-top:-100px; margin-right:20px; width:220px;}